.Conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    height: 100vh;
}

.Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1
}

.Logo {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    z-index: 0;
}

.botaoComprarRifa {
    width: 5%;
}