.background{
    display: flex;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 120px;
    justify-content: center;
}

.right{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right img{
    height: 700px;
    width: 476px;
}


.left{
    width: 40vw;
    display: flex;
    flex-direction: column;
    
}

.left h1{
    color: var(--strong-red);
    font-family: 'Bebas Neue', sans-serif;
    width: 550px;
    font-size: 150px;
    text-align: center;
    margin-bottom: 50px;
}

.left span{
    color: var(--red);
    font-family: 'Bebas Neue', sans-serif;
}

.left p{
    width: 550px;
    align-self: flex-start;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 18px;
    color: var(--gray);
    font-weight: 500;
}

@media (max-width:1400px) {
    .left p{
        width: 85%;
    }
    .left h1{
        font-size: 200px;
    }
}
@media (max-width:1200px) {
    .left h1{
        font-size: 180px;
    }
}
@media (max-width:1100px) {
    .background{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 70px;
    }
    .left{
        display: flex;
        align-items: center;
        width: 80vw;
        justify-content: center;
        padding: 0px;
        text-align: center;
        
    }
    .left h1{
        width: 100%;
        font-size: 80px;
        margin-bottom: 0px;
    }
    .left p{
        margin: 50px 0px;
        width: 100%;
    }
    .right, .right img{
        margin-top: 10px;
        width: 80vw;
        height: 117vw;
    }
}