.background{
    display: flex;
}

.left{
    display: flex;
    background-color: var(--red);
    width: 33vw;
    height: 200px;
    justify-content: center;
    border-bottom:200px solid var(--red);
    border-right: 15px solid var(--white);

}
.line{
    display: flex;
    background-color: var(--white);
    height: 200px;
}
.right{
    width: 67vw;
    background-color: var(--strong-red);
    height: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-top: 200px solid var(--strong-red);
    border-left: 15px solid var(--white);
}

.right img{
    margin-right: 80px;
    margin-bottom: 180px;
}