.background{
    display: flex;
}

.left{
    display: flex;
    background-color: var(--red);
    width: 33vw;
    height: 50px;
    justify-content: center;
    border-bottom:48px solid var(--red);
    border-right: 8px solid var(--white);

}

.email{
    color: var(--white);
    margin-top: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.line{
    display: flex;
    background-color: var(--white);
    height: 50px;
}
.right{
    width: 67vw;
    background-color: var(--strong-red);
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-top: 48px solid var(--strong-red);
    border-left: 8px solid var(--white);
}
