.Background {
    position: absolute;
    top: 125px;
    width: 100%;
    height: 50%;
    z-index: -1;
}

.teste{
    height: 600px;
}

.conteinerTexte{
    margin-left: 400px;
    padding-top: 70px;
}

.teste2 {
    margin-top: 210px;
    height: 600px;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center; 
    background-color: black;
}

.titleContainer {
    font-size: 30px;
    text-align: center;
}

.Title{
    font-size: 80px;
    color: red;
}

.white{
    color: white;
}

.Subtitle{
    font-size: 27px;
    color: white;
    margin-bottom: 60px;
}

.ButtonBudget {
    width: 313px;
    height: 58px;
    cursor: pointer;
    background-color: #E21A1A;
    border-radius: 8px;
    border: none;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 30px red; 

}

.textbutton {
    font-size: 24px;
    color: white;
    position: relative;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 1px white, 0 0 2px white;
    }
    to {
        text-shadow: 0 0 2px white, 0 0 4px white;
    }
}

.ContainerVantagens {
    padding-top: 80px;
    border-radius: 5px;
    border: 1px solid black;
    height: 200px;
    width: 300px;
    background-image: linear-gradient(to bottom, rgb(29, 28, 28), rgb(49, 49, 49));
}


.Title2{
    font-size: 30px;
    color: red;
    text-align: center;
}

.Titledescription{
    text-align: center;
    color: white; 
    font-size: 20px;
    margin-bottom: 15px;
}

.description{
    text-align: center;
    color: white; 
    font-size: 15px;
}

.circulo{
    border-radius: 50%;
    background-color: red;
    width: 100px;
    height: 100px;

}
