.body {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 140vh;
  max-height: 100vh;
  z-index: -1;
}

.boxGroupWrapper {
  display: flex;

  justify-content: left;
  align-items: center;
  height: 160px;
  background-color: #111;
  margin-top: 110px;
  position: relative;
}

.boxGroup {
  display: flex;

  gap: 15px;

  width: fit-content;

  background-color: #111;

  padding-block: 15px;
}

.box, .faultyBox {
  --box-bg-color: blue;

  width: 110px;
  height: 110px;

  background-color: var(--box-bg-color);

  /* cursor: pointer; */
}

.box{
  --box-bg-color: green;

}

.marker {
  width: 5px;
  height: 160px;

  background-color: yellow;

  position: absolute;
  bottom: 0;
  inset-inline: 50%;

  transform: translateX(-50%);
}


.buttonGroup {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;

  padding: 15px;
  margin-block: 15px;

  gap: 15px;
}

.extras {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 0, 0, 0.323);
  outline: 2px solid red;
  width: fit-content;
  padding: 10px;
  gap: 15px;
}

.button {
  margin-inline: auto;
  padding: 8px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
}

.randomBox {
  margin-inline: auto;
  padding: 5px 10px;

  border: none;

  background-color: #555;
  color: white;

  border-radius: 5px;
  background-color: #A30006;
  color: white;

  font-size: 24px;
  font-weight: bolder;

  padding: 10px 15px;
}

.button:hover {
  background-color: #444;
  cursor: pointer;
}